<h1 style="color:orange;text-align:center">DAY 2</h1>

In [1]:
# with the help of numpy create a 3d array with reshape function
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
ls = np.arange(1,13)
ls = ls.reshape(2,3,2)

In [17]:
np.ndim(ls)

3

In [20]:
di = {"name":['a','b','c','d','e'],"emp_id":[1001,1002,1003,1004,1005],"salary":[5000,6000,8000,9000,3000]}

In [21]:
df = pd.DataFrame(di)

In [22]:
df

  name  emp_id  salary
0    a    1001    5000
1    b    1002    6000
2    c    1003    8000
3    d    1004    9000
4    e    1005    3000